/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #F39C12;
}

.contact-section {
    padding: 80px 20px 50px 20px; /* Ajustado para no solaparse con la navbar */
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    color: #222;
}

.contact-section p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    max-width: 500px;
    margin: 0 auto 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F39C12;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; /* Espacio superior */
}

button:hover {
    background-color: #e67e22;
}


a button {
    text-decoration: none;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px; 
}
